<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loggin | Package Services</title>

    <link rel="stylesheet" href="/loggin.css">
</head>
<body>
    <div class="login">
        <h1>Package Services</h1>
        <form action="/loggin" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario" required="required" />
            <input type="password" name="pass" placeholder="Contraseña" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
        </form>
    </div>
</body>
</html>