<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Package Services</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/style.css">
</head>
<body>
    <style>
        .jumbotron{
            background-color:#3D3E3E;
            color:aliceblue;
        }
        .platita{
            height: 200px;
            width: 200px;
            margin: 0 auto;
        }
        .plata{
            background-color:	#BEBEBE ;
        }
        .bronce{
            background-color:#CD7F32 ;
        }
        .oro{
            background-color: #ffbf00;
        }
        .jumbotron{
            background-image:url(/images/banner.jpg);
            background-size: cover;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            height: 600px;
        }
        .icon{
          font-size: 30px;
          text-decoration: none;
          color: #3D3E3E;
        }
        .icon:hover{
          text-decoration: none;
          color: rgb(1, 137, 255);
        }
        .card-text .card-title{
          font-family: Segoe Print !important;
        }
    </style>
  
        <div class="jumbotron">
            <h1 class="display-4">Package Services</h1>
            <p class="lead">Estos son nuestros servicios disponibles, elige el que mejor te convenga. Aunque todos parecen estar hechos para tí.</p>
            <hr class="my-4">
            <p class="lead">
                <a href="/welcome" class="btn btn-warning">Inicio</a>
            </p>
          </div>

          <div class="container">
          <div class="card mb-3 plata">
            <img src="/images/platita.png" class="card-img-top platita" alt="...">
            <div class="card-body">
              <h5 class="card-title">Servicio nivel plata</h5>
              <p class="card-text">Incluye todo lo que necesitas para enviar y recibir tus pedidos, paga una sola vez y dejanos todo a nosotros.</p>
              <p class="card-text"><a href="/create" class="icon icon-thumb_up"></a></p>
            </div>
          </div> 

          <div class="card mb-3 bronce">
            <img src="/images/bronce.png" class="card-img-top platita" alt="...">
            <div class="card-body">
              <h5 class="card-title">Servicio nivel bronce</h5>
              <p class="card-text">Incluye todo lo que necesitas para enviar y recibir tus pedidos, más el acceso de monitorización en remoto.</p>
              <p class="card-text"><a href="/create" class="icon icon-thumb_up"></a></p>
            </div>
          </div> 

          <div class="card mb-3 oro">
            <img src="/images/oro.png" class="card-img-top platita" alt="...">
            <div class="card-body">
              <h5 class="card-title">Servicio nivel oro</h5>
              <p class="card-text">Lo incluye todo, rapido y acceso a todos nuestras herraminetas de rastreo. Podras consultar por tu páquere cuando tú quieras.</p>
              <p class="card-text"><a href="/create" class="icon icon-thumb_up"></a></p>
            </div>
          </div> 
    </div>
</body>
</html>